body {
  padding: 30px;
  font-family: "Roboto", serif;
}

#location {
  font-size: 24px;
  font-family: "Roboto", serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 2px;
}

#day-time {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #aaa;
  letter-spacing: 1px;
  margin-top: 10px;
}

#weather-icon {
  width: 360px;
  height: 360px;
  background-color: #6d77d6;
  margin-top: 35px;
  margin-bottom: 35px;

  margin-right: auto;
  margin-left: auto;

  border-radius: 100%;
}

#temperature {
  font-size: 36px;
  text-align: center;
  margin-top: 10px;
}

#unit {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  padding: 30px;
  font-size: 30px;
  background-color: #ffffff;
  color: rgb(6, 4, 133);
}

#button {
  position: absolute;
  top: 110px;
  right: 700px;
}
